<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="zxx"> <!--<![endif]-->

<head>
		<base href="<%- config.domain %>" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Art Sound Group">
	
	<!-- Title -->
    <title>Crystal - Coming Soon Template</title>
	
	<!-- Seo Tags -->
	<meta name="description" content="Your page description here" />
	<meta name="keywords" content="Your meta keywords, here"/>
	<meta name="robots" content="index, follow"> 

	<!-- Favicons -->
	<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">

	<!-- General CSS -->
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/responsive.css">

	<!-- Color Style -->
	<link rel="stylesheet" href="assets/css/colors/brown.css" type="text/css">
	<link rel="stylesheet" href="./css/layout.css" type="text/css">

</head>

<body class="bg-black show-content">

	<!-- Preloader  -->
	<div class="loader bg-black">
		<div id="preload-content">
			<div id="spinner"></div>
			<div class="loading">Crystal Is Loading...</div>
		</div>
	</div>
	<!-- End Preloader  -->

<!-- PAGE  -->
<div id="page">

	<!-- Background -->
	<div class="body-youtube overlay ">
		<a id="bg-video" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=nKh519UqFzE&t=8s',containment:'body',autoPlay:true, mute:false, startAt:0, stopAt:0, showControls:false, showYTLogo:false, vol:50, opacity:0.5}"></a>
		<div id="slider"></div>
		</div>
		<nav id="player-nav">
			<ul>
				<li data-toggle="tooltip" data-placement="top" data-title="Play" data-trigger="hover"> 
					<a onclick="$('#bg-video').playYTP()"><i class="fa fa-play"></i></a>
				</li>
				<li data-toggle="tooltip" data-placement="top" data-title="Pause" data-trigger="hover"> 
					<a onclick="$('#bg-video').pauseYTP()"><i class="fa fa-pause"></i></a>
				</li>
				<li class="full-play" data-toggle="tooltip" data-placement="top" data-title="Fullscreen" data-trigger="hover"> 
					<a class="expand-player" onclick="$('#bg-video').YTPFullscreen()"><i class="fa fa-expand"></i></a>
				</li>
			</ul>
		</nav>
	<!-- End Background -->

	<div class="container-fluid">
		<div class="row">
	
	
			<!-- LEFT CONTAINER  -->
			<div class="col-md-6 text-white text-center page-info animate">
				<div class="vert-middle">
					<div class="reveal scale-out">
				   
						<!-- Logo -->
						<div class="padding-10">
							<img src="assets/img/logo.png" class="animate fade-in animation-time-2s" alt="">
						</div>
						<!-- End Logo -->
						
						<!-- Mine Text -->
						<h1 class="padding-10">Launching in:</h1>
						<!-- End Mine text --> 
						
						<!-- Count Down / Data format MM,DD,YYYY,HH:MM:SS-->
						<div class="count-down padding-10" data-end-date="07,20,2018,00:00:00"></div>
						<!-- End Count Down -->
						
						<!-- Description -->
						<p class="padding-15">
						Crystal - perfect and awesome template to present your future product or service.<br>
						Fully responsive Under Construction template, which is very clean and minimal.
						</p>
						<!-- End Description -->

						<!-- Buttons -->
						<div class="padding-30">
						  <button class="animate button" data-toggle="modal" data-target="#modal-notify">Notify me</button>
						</div>
						<!-- End Buttons -->

						<!-- Social Links -->
						<div class="padding-30">
							<div class="social">
								<a href="#"><span class="fa fa-envelope  fade-in" title="Email"></span></a>
								<a href="#"><span class="fa fa-facebook  fade-in" title="Facebook"></span></a>
								<a href="#"><span class="fa fa-twitter  fade-in" title="Twitter"></span></a>
								<a href="#"><span class="fa fa-instagram  fade-in" title="Instagram"></span></a>
								<a href="#"><span class="fa fa-google-plus  fade-in" title="Google Plus"></span></a>
							</div>
						</div>
						<!-- End Social Links -->

					</div>
				</div>
			</div>
			<!-- END LEFT CONTAINER  -->

			<!-- RIGHT CONTAINER  -->
			<div class="page-content col-md-6 text-center bg-dark text-white">
				<!-- About Section -->
				<section class="padding-30">
					<div class="row">
						<div class="col-md-11 col-sm-offset-05">
						
							<!-- Title -->
							<div class="wrap-line border-dark">
								<h3><%- config.title %></h3>
							</div>
							<!-- End Title -->

							<!-- Description -->
							<div class="text-left">
								<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
								Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
								Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
								Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
							</div>
							<!-- End Description -->
						
						</div>
					</div>
				</section>  
				<!-- End About Section -->
				
				
				<%- include("./Blocks/Vote.ejs") %>	
				
				<%- include("./Blocks/PlayerList.ejs") %>	
				
				<!-- Get In Toch Section -->
				<section class="padding-10">
					<div class="col-mg-11 col-sm-offset-05">
						<h6>
						© 2017 by <a href="./">ArtSoundGroup</a>
						</h6>	
					</div>
				
				</section>
				<!-- End Get In Touch Section -->
				
			</div>
			<!-- END RIGHT CONTAINER -->
		</div>			
	</div>
</div>
<!-- END PAGE  -->

<!-- MODAL SUBSCRIBE -->
<div id="modal-notify" class="modal fade modal-scale" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		   <div class="text-center">
			<div class="modal-content">
				
				<!-- Close Button -->
				<button class="button-close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
				<!-- End Close Button -->

				<!-- Title -->
				<div class="wrap-line border-dark">
					<h3>SUBSCRIBE</h3>
				</div>
				<!-- End Title -->

				<!-- Description -->
				<div class="padding-15">
					<p>Enter your email address to get notified when site is ready</p>
				</div>
				<!-- End Description -->

				<div class="padding-15">

					<!-- Subscribe Form -->
					<form id="mc-form">
						<div class="input-group">
							<input type="email" id="email" class="form-control form-control-light" name="email" placeholder="Your Email">
								<span class="input-group-btn">
									<button type="submit" class="animate button-sub"><i class="fa fa-paper-plane"></i></button>
								</span>
						</div>

						<div id="message-newsletter" class="message-wrapper text-white message">
							<span><label class="message-text" for="email"></label></span>							
						</div>
					</form>
					<!-- End Subscribe Form -->

				</div>
			</div>
		</div>
	</div>
</div>
<!-- END MODAL SUBSCRIBE -->


<!-- PHOTOSWIPE -->
	<!-- Root element of PhotoSwipe. Must have class pswp. -->
	<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
			
		<!-- Background of PhotoSwipe. It's a separate element as animating opacity is faster than rgba(). -->
		<div class="pswp__bg"></div>

		<!-- Slides wrapper with overflow:hidden. -->
		<div class="pswp__scroll-wrap">

            <!-- Container that holds slides. PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader - active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
<!-- END PHOTOSWIPE -->

<!-- Scripts -->
<script src="assets/js/plugins/jquery-2.2.4.min.js"></script>
<script src="assets/js/plugins/bootstrap.min.js"></script>
<script src="assets/js/plugins/newsletter-form.js"></script>
<script src="assets/js/plugins/mailform.js"></script>
<script src="assets/js/plugins/jquery.ajaxchimp.min.js"></script>
<script src="assets/js/plugins/photoswipe/photoswipe.min.js"></script>
<script src="assets/js/plugins/photoswipe/photoswipe-ui-default.min.js"></script>
<script src="assets/js/plugins/jquery.countdown.min.js"></script>
<script src="assets/js/plugins/vegas.js"></script>
<script src="assets/js/plugins/jquery.mb.YTPlayer.min.js"></script>

<!-- Google reCaptcha required javascript file -->
<script src='https://www.google.com/recaptcha/api.js'></script>

<!-- Google Map -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback"></script>

<!-- Custom Script -->
<script src="assets/js/custom.js"></script>
<script src="./js/process.js"></script>



</body>
</html>
