<h2>DANH SÁCH KHÁCH ĐẶT CƯỢC</h2>
<table width="100%" id="tb_PlayerList">
    <tr id="row1">
        <td>
            Thứ tự
        </td>
        <td>
            Thời gian
        </td>
        <td>
            Địa chỉ ví
        </td>
        <td>
            Chọn
        </td>
        <td>
            ETH
        </td>
    </tr>
    <tr>
        <td>
            
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
        <td>
            
        </td>
    </tr>
</table>
