<section class="padding-10">
  <table width="100%" id="tb_Vote">
      <tr>
          <td>
              <h2>YES</h2>
              <h3>Tổng cược</h3>
              <h4 id="tongcuoc_Yes">3.00 ETH</h4>
              <h3>Thắng cược</h3>
              <h4 id="thangcuoc_Yes">x10.0</h4>
              <hr />
              <input type="text" id="txt_Yes" placeholder="0.0" />
              <input type="button" id="btn_Yes" value="Đặt cược" />
          </td>
          <td>
              <h2>NO</h2>
              <h3>Tổng cược</h3>
              <h4 id="tongcuoc_No">3.00 ETH</h4>
              <h3>Thắng cược</h3>
              <h4 id="tongcuoc_No">x10.0</h4>
              <hr />
              <input type="text" id="txt_No" placeholder="0.0" />
              <input type="button" id="btn_No" value="Đặt cược" />
          </td>
      </tr>
  </table>
</section>
